@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 30, 18, 64;
  --background-end-rgb: 39, 24, 83;
  /* --background-start-rgb: 103, 58, 183; */
  /* --background-end-rgb: 138, 74, 243; */
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* New Task button */
button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #342953;
  margin-left: 10px;
  color: white;
}

button:hover {
  background-color: #1e1240;
}

button:active {
  background-color: #342953;
}

input {
  border-radius: 5px;
  width: 350px;
  padding-left: 5px;
  height: 42px;
  background: none;
  border: 1px solid #342953;
  color: white;
}

input::placeholder {
  color: white;
}

.wrapper {
  background-color: #686cbc;
  padding: 40px;
  border-radius: 10px;
}