@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 30, 18, 64;
  --background-end-rgb: 39, 24, 83;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-bottom: 45px;
}

form {
  margin-bottom: 45px;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #342953;
  margin-left: 10px;
  color: white;
}

button:hover {
  background-color: #1e1240;
}

button:active {
  background-color: #342953;
}

input {
  border-radius: 5px;
  width: 350px;
  padding-left: 5px;
  height: 42px;
  background: none;
  border: 2px solid #342953;
  color: white;
}

input::placeholder {
  color: #D3D3D3;
}

.wrapper {
  background-color: #686cbc;
  padding: 40px;
  border-radius: 10px;
}

.checkboxes {
  height: 25px;
  border-radius: 3px;
  width: 25px;
  outline: none;
}

.checkboxes:checked {
  accent-color: #1e1240;
}

.checkedOff {
  text-decoration: line-through;
}

.edit, .delete {
  cursor: pointer;
  margin-right: 15px;
}

.ToDoListItem {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #342953;
  color: white;
  padding: 20px;
  border-radius: 10px;
}